/saved_model/*
saved_model/*
__pycache__
.local_env
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local
app/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
